{% extends "base.html" %}

{% block title %}Records{% endblock %}

{% block content %}

<h2 class="mb-3">Visitor Records</h2>

<table class="table table-bordered table-striped table-hover shadow-sm">
   <!-- Live Search -->

<div class ="mb-3">
    <input type ="text"
    id ="searchInput"
    class ="form-control
    form-control-lg"
    placeholder="🔍Type to search visitors by name...">
    <div id ="resultInfo"
    class="text-muted small mt-1"></div>
</div>
 

    <thead class="table table-success table-striped">
        <tr>
            <th>ID</th>th>
            <th>Visitor Name </th>
            <th>Student Name </th>
            <th>Room No </th>
            <th>Purpose</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>

    {% for visitor in visitors %}

    <tr>
       <td>{{ visitor.visitor.id }}</td>
        <td>{{ visitor.visitor_name }}</td>
        <td>{{ visitor.student_name }}</td>
        <td>{{ visitor.room_no }}</td>
        <td>{{ visitor.purpose }}</td>
        <td>
            <a href="/view/{{ visitor.id }}"
               class="btn btn-sm btn-primary">
                View
             </a>
             
             <a href="/edit_visitor/{{ visitor.id }}"
               class="btn btn-sm  btn-warning">
                Edit
             </a>
             <a href="/delete/{{ visitor.id }}"
               class="btn btn-sm btn-danger">
                Delete
            </a>
            
        </td>
    </tr>

    {% endfor %}

    </tbody>

</table>
<script>
            const searchInput = document.getElementById('searchInput');
            const allRows = document.querySelectorAll('#tableBody tr');
            
            searchInput.addEventListener('keyup', function() {
                const query = this.value.toLowerCase();
                allRows.forEach(function(row) {
                    const name = row.dataset. name;

                    if( name.includes(query)){
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                });
            });      
        </script>

{% endblock %}
